body {
	background: #E05E5E;
	color: #fff;
	font-family: arial;
	font-size: 20px;
	line-height: 28px;
	letter-spacing: 5px;
	margin: 0;
	padding: 50px;
}

.c1 {
	margin: 0px 0px 70px 881px;
}

.c2 {
	margin: 149px 10px 0px 881px;
}

.c3 {
	margin: 149px 0px 0px 881px;
}

.c4 {
	margin: 149px 0px 0px 881px;
	margin-bottom:- -20px;
}

.c5 {
	margin: 0px 0px 0px 0px;
}

.c6 {
	margin: 0px 0px 70px 0px;
}
