body{
	background-color:aliceblue;
	font-size: 20px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}


.slideshow {
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height:1800px;
  width: 950px;
  position: relative;
  overflow: hidden;
}
.images {
  background: url(../img/slideshow.png);
  background-repeat:no-repeat;
  position: relative;
  left: 50%;
  top: 50%;
  height: 120%;
  width: 500%;
  animation: slideshow 35s linear infinite;
}
@keyframes slideshow {
  0%    { left: 0; }
  100%  { left: -500%; }
}

img{
	width:100%;
}