* { vertical-align: top; }

body{ font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
font-size: 63px;
background:#64A0FF;
color: aliceblue;
letter-spacing: 5px;
background-image:url(../img/note.png);
background-size: 1900px 1200px;
background-repeat: no-repeat;
}

.wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	justify-content: center;
	
}

a{
	color: antiquewhite;
	font-size: 70px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-540%);
	justify-content: center;
	width: 500px;
}

img{
	width: 700px;
}